FGV - Escola de Matemática Aplicada
==
Curso de Verão - Introdução à Programação com a Linguagem Python
--

#### Tipos padrão do Python:   Tipos numéricos

In [1]:
a = 12

Usando o comando "type" para saber qual o meu tipo de dado

In [2]:
type(a)

int

In [3]:
a.conjugate()

12

In [4]:
b = 2.7

In [5]:
type(b)

float

In [6]:
b.is_integer()

False

In [7]:
b.hex()

'0x1.599999999999ap+1'

In [8]:
c = 3 + 1j

In [9]:
type(c)

complex

In [10]:
c.conjugate()

(3-1j)

In [11]:
a + b #soma de dois números

14.7

In [12]:
a * 4

48

In [13]:
4 / 3

1.3333333333333333

In [14]:
3 ** 5

243

In [15]:
501 % 10

1

In [16]:
type(a * c)

complex

In [17]:
a > b

True

In [18]:
x = a + b
type(x)

float

In [19]:
type(int(b))

int

In [20]:
type(float(a))

float

#### Tipo Lista

In [21]:
lista = [1,2,2, [2,3,4], 3.9, 4, 2.8,'uma string']

In [22]:
lista

[1, 2, 2, [2, 3, 4], 3.9, 4, 2.8, 'uma string']

In [23]:
lista[3]

[2, 3, 4]

In [24]:
lista[3][2]

4

In [25]:
lista[-1]

'uma string'

In [26]:
seu_novo_nome = [2,6,3,8]

In [27]:
seu_novo_nome.append(23)

In [28]:
seu_novo_nome

[2, 6, 3, 8, 23]

In [29]:
seu_novo_nome.pop()

23

In [30]:
seu_novo_nome

[2, 6, 3, 8]

In [31]:
seu_novo_nome.append(4)

In [32]:
seu_novo_nome.extend([0,7,3])

In [33]:
seu_novo_nome

[2, 6, 3, 8, 4, 0, 7, 3]

In [34]:
seu_novo_nome.append([9,9])

In [35]:
seu_novo_nome.insert(2,5678)

In [36]:
seu_novo_nome

[2, 6, 5678, 3, 8, 4, 0, 7, 3, [9, 9]]

In [37]:
seu_novo_nome.pop()

[9, 9]

In [38]:
seu_novo_nome.sort()
seu_novo_nome

[0, 2, 3, 3, 4, 6, 7, 8, 5678]

In [39]:
nova2 = [[[2,1],7,9,3,3,2,[2,6]],4,5,7]

In [40]:
nova2.index(2)

ValueError: 2 is not in list

In [41]:
nova2[0]

[[2, 1], 7, 9, 3, 3, 2, [2, 6]]

In [42]:
nova2[0].index(2)

5

In [43]:
len(nova2)

4

In [44]:
nova2[0].count(3)

2

In [45]:
nova2[0][3][1]

TypeError: 'int' object is not subscriptable

In [46]:
nova2.index(4)

1

In [47]:
nova2.reverse()
print(nova2)

[7, 5, 4, [[2, 1], 7, 9, 3, 3, 2, [2, 6]]]

In [48]:
nova_lista = [1,2,3,4,5,6]

In [49]:
nova_lista[2]

3

In [50]:
nova_lista[2:5]

[3, 4, 5]

In [54]:
nova_lista[-2]

5

#### Tipo String

In [55]:
s1 = 'uma string'
s2 = "outra string"

In [56]:
print(s1)

uma string

In [57]:
s1

'uma string'

In [58]:
s2

'outra string'

In [59]:
s3 = "let's go to the classroom"
s3

"let's go to the classroom"

In [60]:
s4 = "nesta string eu tenho aspas simples (') e aspas duplas(\")"

In [61]:
s4

'nesta string eu tenho aspas simples (\') e aspas duplas(")'

In [62]:
print(s4)

nesta string eu tenho aspas simples (') e aspas duplas(")

In [63]:
s5 = 'let\'s stress'
s5

"let's stress"

In [64]:
s1+s2

'uma stringoutra string'

In [65]:
s1+' '+s2

'uma string outra string'

In [66]:
print('um comando' + ' ' + 'que ocupe' + ' ' + 'duas ou mais linhas')

um comando que ocupe duas ou mais linhas

In [67]:
s6 = 'RIO - Brasília fechou 2015 com uma inflação de 11,95%, segundo o Índice de Preços \
ao Consumidor Semanal (IPC-S), medido pela Fundação Getulio Vargas (FGV). Entre as sete \
capitais pesquisadas pela FGV, a capital federal foi a que teve a maior alta de preços. \
Em 2014, Brasília havia registrado uma taxa de inflação de 6,74%.'

In [68]:
s6

'RIO - Brasília fechou 2015 com uma inflação de 11,95%, segundo o Índice de Preços ao Consumidor Semanal (IPC-S), medido pela Fundação Getulio Vargas (FGV). Entre as sete capitais pesquisadas pela FGV, a capital federal foi a que teve a maior alta de preços. Em 2014, Brasília havia registrado uma taxa de inflação de 6,74%.'

In [69]:
print(s6)

RIO - Brasília fechou 2015 com uma inflação de 11,95%, segundo o Índice de Preços ao Consumidor Semanal (IPC-S), medido pela Fundação Getulio Vargas (FGV). Entre as sete capitais pesquisadas pela FGV, a capital federal foi a que teve a maior alta de preços. Em 2014, Brasília havia registrado uma taxa de inflação de 6,74%.

In [70]:
s7 = '''
RIO - Brasília fechou 2015 com uma inflação de 11,95%, 
segundo o Índice de Preços ao Consumidor Semanal (IPC-S), 
medido pela Fundação Getulio Vargas (FGV). 
Entre as sete capitais pesquisadas pela FGV, a capital federal foi 
a que teve a maior alta de preços. Em 2014, Brasília havia registrado 
uma taxa de inflação de 6,74%.
'''

In [71]:
s7

'\nRIO - Brasília fechou 2015 com uma inflação de 11,95%, \nsegundo o Índice de Preços ao Consumidor Semanal (IPC-S), \nmedido pela Fundação Getulio Vargas (FGV). \nEntre as sete capitais pesquisadas pela FGV, a capital federal foi \na que teve a maior alta de preços. Em 2014, Brasília havia registrado \numa taxa de inflação de 6,74%.\n'

In [72]:
texto = 'uma linha \noutra linha'
print(texto)

uma linha
outra linha

In [73]:
s4

'nesta string eu tenho aspas simples (\') e aspas duplas(")'

In [74]:
s4.count('a')

6

In [75]:
s4 = s4.replace('a','@')

In [76]:
s4

'nest@ string eu tenho @sp@s simples (\') e @sp@s dupl@s(")'

In [77]:
s4.find('simples')

28

In [81]:
s4[6]

's'

In [78]:
s4[28:]

'simples (\') e @sp@s dupl@s(")'

In [79]:
s4[s4.find('string'):s4.find('simples')+len('simples')]

'string eu tenho @sp@s simples'

In [82]:
s4[6:35]

'string eu tenho @sp@s simples'

Fazendo mais elegantemente

In [83]:
inicio = s4.find('string')
fim = s4.find('simples')+len('simples')
s4[inicio:fim]

'string eu tenho @sp@s simples'

In [84]:
a = 12
b = int('12')
a + b

24

In [85]:
c = str(12)
d = '12'
c + d

'1212'

In [86]:
c.isdigit()

True

In [87]:
x = 0xFFF
x

4095

In [88]:
y = 0b111110001
y

497

In [89]:
z = 0o777321
z

261841

In [90]:
0b11111111

255

#### Tipo Booleano

In [91]:
'RENATO'.isupper()

True

In [92]:
b1 = True

In [93]:
b2 = False

In [94]:
b1 == b2

False

In [95]:
2 == 5

False

In [96]:
type(2 == 7)

bool

In [97]:
4 != 5

True

In [98]:
if (9 > 10) and (2 == (1 + 1)) and (7 <= 8):
    print('Correto')
if x == 4095:
    print('Legal')
else:
    print('chato')
print('novo bloco')

Legal
novo bloco

#### Tipo Conjunto (sets)

In [101]:
c1 = {1,2,3,3,3,3,3,4}

In [102]:
c1

{1, 2, 3, 4}

In [103]:
c2 = set([1,2,3,4,1,2])

In [104]:
c2

{1, 2, 3, 4}

In [105]:
lista3 = [1,2,3,'string']

In [106]:
conjunto = set(lista3)

In [107]:
conjunto

{1, 2, 3, 'string'}

In [108]:
conjunto2 = conjunto.union([9,8,7])

In [109]:
conjunto2

{1, 2, 3, 'string', 7, 8, 9}

In [115]:
conjunto.intersection(conjunto2)

{1, 2, 3, 'string'}

In [116]:
lista3 = list(conjunto)

In [117]:
conjunto4 = set('uma string legal')

In [118]:
conjunto4

{' ', 'a', 'e', 'g', 'i', 'l', 'm', 'n', 'r', 's', 't', 'u'}

In [119]:
print(len('uma string legal'))
print(len(set('uma string legal')))

16
12

In [147]:
texto = '''
There are two candidates for the TIOBE programming language of the year award that will be announced around the 1st of January 2015. These are statistical language R (+1.38%) and Apple's new Swift language (+1.06%). Apart from these, also JavaScript and Dart have a chance to win. The award is given to the language with the highest increase in ratings in 2014. Visual Basic has the highest delta but it doesn't qualify for the award because it has been introduced as a split off of the general Basic entry. 
'''

In [148]:
texto

"\nThere are two candidates for the TIOBE programming language of the year award that will be announced around the 1st of January 2015. These are statistical language R (+1.38%) and Apple's new Swift language (+1.06%). Apart from these, also JavaScript and Dart have a chance to win. The award is given to the language with the highest increase in ratings in 2014. Visual Basic has the highest delta but it doesn't qualify for the award because it has been introduced as a split off of the general Basic entry. \n"

In [133]:
#texto = texto.replace('a','&&&&a')

In [135]:
lista_palavras = texto.split()
lista_palavras

['There',
 'are',
 'two',
 'candidates',
 'for',
 'the',
 'TIOBE',
 'programming',
 'language',
 'of',
 'the',
 'year',
 'award',
 'that',
 'will',
 'be',
 'announced',
 'around',
 'the',
 '1st',
 'of',
 'January',
 '2015.',
 'These',
 'are',
 'statistical',
 'language',
 'R',
 '(+1.38%)',
 'and',
 "Apple's",
 'new',
 'Swift',
 'language',
 '(+1.06%).',
 'Apart',
 'from',
 'these,',
 'also',
 'JavaScript',
 'and',
 'Dart',
 'have',
 'a',
 'chance',
 'to',
 'win.',
 'The',
 'award',
 'is',
 'given',
 'to',
 'the',
 'language',
 'with',
 'the',
 'highest',
 'increase',
 'in',
 'ratings',
 'in',
 '2014.',
 'Visual',
 'Basic',
 'has',
 'the',
 'highest',
 'delta',
 'but',
 'it',
 "doesn't",
 'qualify',
 'for',
 'the',
 'award',
 'because',
 'it',
 'has',
 'been',
 'introduced',
 'as',
 'a',
 'split',
 'off',
 'of',
 'the',
 'general',
 'Basic',
 'entry.']

In [136]:
palavras_unicas = set(lista_palavras)

In [137]:
print(len(lista_palavras))
print(len(palavras_unicas))

89
65

In [140]:
' @ '.join(lista_palavras)

"There @ are @ two @ candidates @ for @ the @ TIOBE @ programming @ language @ of @ the @ year @ award @ that @ will @ be @ announced @ around @ the @ 1st @ of @ January @ 2015. @ These @ are @ statistical @ language @ R @ (+1.38%) @ and @ Apple's @ new @ Swift @ language @ (+1.06%). @ Apart @ from @ these, @ also @ JavaScript @ and @ Dart @ have @ a @ chance @ to @ win. @ The @ award @ is @ given @ to @ the @ language @ with @ the @ highest @ increase @ in @ ratings @ in @ 2014. @ Visual @ Basic @ has @ the @ highest @ delta @ but @ it @ doesn't @ qualify @ for @ the @ award @ because @ it @ has @ been @ introduced @ as @ a @ split @ off @ of @ the @ general @ Basic @ entry."

In [141]:
import string

In [142]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [149]:
for punct in ['.','?','!']:
    texto = texto.replace(punct, '*****')
texto

"\nThere are two candidates for the TIOBE programming language of the year award that will be announced around the 1st of January 2015***** These are statistical language R (+1*****38%) and Apple's new Swift language (+1*****06%)***** Apart from these, also JavaScript and Dart have a chance to win***** The award is given to the language with the highest increase in ratings in 2014***** Visual Basic has the highest delta but it doesn't qualify for the award because it has been introduced as a split off of the general Basic entry***** \n"

In [150]:
texto.split('*****')

['\nThere are two candidates for the TIOBE programming language of the year award that will be announced around the 1st of January 2015',
 ' These are statistical language R (+1',
 "38%) and Apple's new Swift language (+1",
 '06%)',
 ' Apart from these, also JavaScript and Dart have a chance to win',
 ' The award is given to the language with the highest increase in ratings in 2014',
 " Visual Basic has the highest delta but it doesn't qualify for the award because it has been introduced as a split off of the general Basic entry",
 ' \n']

In [168]:
string5 = 'uma string'
string5 += ' outro texto'

In [169]:
string5

'uma string outro texto'

#### Tipo Dicionário

In [2]:
dic = {'chave1':[1,2,3],'chave2':2,'outra chave':4,45:26, 'outro':23}
dic

{'outra chave': 4, 'chave2': 2, 45: 26, 'chave1': [1, 2, 3], 'outro': 23}

In [3]:
dic.update({2:3})

In [4]:
dic

{'outra chave': 4, 'chave1': [1, 2, 3], 2: 3, 'chave2': 2, 45: 26, 'outro': 23}

In [6]:
ficha = {'Peso':73, 'Altura':183, 'Idade':44, 'Nome':'Renato'}

In [7]:
ficha

{'Altura': 183, 'Idade': 44, 'Nome': 'Renato', 'Peso': 73}

In [8]:
ficha['Idade']

44

Exercício:  
Criar uma estrutura de dados para representar as notas de 3 avaliações (A1, A2 e AS) em três 
disciplinas (Matemática, História e Geografia)

In [12]:
boletim = {'Matemática':{'A1':9.0, 'A2':8.0,'AS':4.0},
           'História':{'A1':9.0, 'A2':8.0,'AS':4.0},
           'Geografia':{'A1':9.0, 'A2':8.0,'AS':4.0}}
boletim

{'Geografia': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'História': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'Matemática': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}}

In [16]:
boletim['Matemática']['A2']

24.0

In [23]:
boletim.items()

dict_items([('Matemática', {'A1': 9.0, 'AS': 4.0, 'A2': 8.0}), ('História', {'A1': 9.0, 'AS': 4.0, 'A2': 8.0}), ('Geografia', {'A1': 9.0, 'AS': 4.0, 'A2': 8.0})])

In [28]:
'A2' in boletim['Matemática']

True

In [33]:
boletim['Matemática'].values()

dict_values([9.0, 4.0, 8.0])

In [43]:
boletim['Matemática']['AS'] = 10
boletim

{'Geografia': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'História': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'Matemática': {'A1': 9.0, 'A2': 8.0, 'AS': 10}}

In [34]:
newdic = {}

In [35]:
newdic

{}

In [36]:
newdic['elemento1'] = 23

In [37]:
newdic

{'elemento1': 23}

In [38]:
newdic.update({'um':2})

In [39]:
newdic

{'elemento1': 23, 'um': 2}

In [40]:
newdic['um'] = 1

In [44]:
newdic

{'elemento1': 23, 'um': 1}

In [46]:
d2 = {}
d1 = {1:d2}
d2 = {2:d1}

In [51]:
d1

{1: 'outra coisa'}

In [48]:
d2

{2: {1: {}}}

In [50]:
d2[2][1] = 'outra coisa'

In [ ]:
d1[2]='outro elemento'

In [ ]:
d2

#### Tipo Tupla

In [69]:
t = (1,2,3,4,7,4,3,1,'string',{1,2}, [1,2])

In [70]:
type(t)

tuple

In [66]:
t[0]

1

In [67]:
t[5]

4

In [68]:
t[3:6]

(4, 7, 4)

In [61]:
lista = [1,2,3]

In [62]:
tupla = tuple(lista)

In [63]:
tupla

(1, 2, 3)

In [59]:
lista2 = list(tupla)

In [60]:
lista2

[1, 2, 3]

In [72]:
d5 = {(1,2):'tupla'}
d5

{(1, 2): 'tupla'}

In [76]:
t2 = (2,4,7,2,2,2,2)

In [77]:
t2.count(2)

5

In [88]:
a = [1,2]

In [89]:
t = (a,a,a,a,a)
l = [a,a,a,a,a]

#### Várias formas para importação de módulos:

In [1]:
string.punctuation

NameError: name 'string' is not defined

In [2]:
import string
import random
import math
import numpy

In [5]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [6]:
random.random()

0.7554019509574217

In [7]:
math.pi

3.141592653589793

In [8]:
numpy.pi

3.141592653589793

In [9]:
from math import *

In [10]:
pi

3.141592653589793

In [12]:
e = [1,2,3]

In [13]:
from math import *

In [14]:
e

2.718281828459045

In [17]:
from numpy import mean, pi

In [16]:
mean([1,2,3,4,5,6,7,8,9])

5.0

In [18]:
pi

3.141592653589793

In [19]:
math.pi == numpy.pi

True

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
plt.plot([1,2,3,4,5,6,4,3,2,1])

In [27]:
plt.show()